<ion-view title="Cart" id="page12" class=" ">
    <ion-content padding="true" class="has-header">
        <h3 id="cart-heading2" style="color:#000000;font-weight:400;font-style:italic;" class=" ">Total: $117.74</h3>
        <button id="cart-button7" style="font-weight:600;" class=" button button-small button-balanced button-block " ui-sref="main.mapView">View Map</button>
        <ion-list id="cart-list6" class=" ">
            <ion-item class="item-avatar item-icon-right item-button-right" id="cart-list-item15">
                <img src="img/amixDt4KS0eXQ7W6BeQB_Leaf-Rake.png" ui-sref="main.leafRake">
                <h2>Leaf Rake</h2>
                <p>$19.95 x 2</p>
                <div class="button-bar bar-positive" style="font-size:15px;">
                    <a class="button button-small" style="font-size:12px;">+</a>
                    <a class="button button-small button-light" style="font-size:15px;">2</a>
                    <a class="button button-small" style="font-size:12px;">-</a>
                </div>
            </ion-item>
            <ion-item class="item-avatar item-icon-right item-button-right " id="cart-list-item16">
                <img src="img/ykcEGmUKTRS6WED9xXuw_garden-cart.png">
                <h2>Garden Cart</h2>
                <p>$32.99 x 1</p>
                <div class="button-bar bar-positive" style="font-size:15px;">
                    <a class="button button-small" style="font-size:12px;">+</a>
                    <a class="button button-small button-light" style="font-size:15px;">1</a>
                    <a class="button button-small" style="font-size:12px;">-</a>
                </div>
            </ion-item>
            <ion-item class="item-avatar item-icon-right item-button-right " id="cart-list-item17">
                <img src="img/MMoFqdQZekaWJPLS9AN7_xbox-controller-01.png">
                <h2>Video Game Controller</h2>
                <p>$35.95 x 1</p>
                <div class="button-bar bar-positive" style="font-size:15px;">
                    <a class="button button-small" style="font-size:12px;">+</a>
                    <a class="button button-small button-light" style="font-size:15px;">1</a>
                    <a class="button button-small" style="font-size:12px;">-</a>
                </div>
            </ion-item>
            <ion-item class="item-avatar item-icon-right item-button-right " id="cart-list-item18">
                <img src="img/43V0XNReOwE4FS41d2FQ_rejon-Hammer.png">
                <h2>Hammer</h2>
                <p>$8.9 x 1</p>
                <div class="button-bar bar-positive" style="font-size:15px;">
                    <a class="button button-small" style="font-size:12px;">+</a>
                    <a class="button button-small button-light" style="font-size:15px;">1</a>
                    <a class="button button-small" style="font-size:12px;">-</a>
                </div>
            </ion-item>
        </ion-list>
        <button id="cart-button7" style="font-weight:600;" class=" button button-positive  button-block " ui-sref="checkout">Check Out</button>
    </ion-content>
</ion-view>