<ion-view title="Category" id="page11" class=" no-padding-page">
    <ion-content padding="false" class=" manual-remove-top-padding has-header">
        <div class="row category-grid">
            <div class="col-33">
                <i class="icon ion-ios-home-outline"></i>
                <p>Home &amp; Tools</p>
                </div>
            <div class="col-33"><i class="icon ion-pizza"></i><p>Food</p></div>
            <div class="col-33"><i class="icon ion-heart"></i><p>Beauty</p></div>
        </div>
        <div class="row category-grid">
            <div class="col-33"><i class="icon ion-ios-game-controller-a-outline"></i><p>Toys &amp; Games</p></div>
            <div class="col-33"><i class="icon ion-pricetags"></i><p>Baby</p></div>
            <div class="col-33" ui-sref="main.subcategory"><i class="icon ion-ios-americanfootball-outline"></i><p>Sports</p></div>
        </div>
        <div class="row category-grid">
            <div class="col-33"><i class="icon ion-android-desktop"></i><p>Computers</p></div>
            <div class="col-33"><i class="icon ion-ipod"></i><p>Electronics</p></div>
            <div class="col-33"><i class="icon ion-tshirt-outline"></i><p>Clothes</p></div>
        </div>
    </ion-content>
</ion-view>