<ion-view title="Order">
    <div class="card checkout-card">
        <div class="item item-divider">
            <i class="icon ion-checkmark-circled"></i> <span>Your Order #: 123456</span>
        </div>
        <div class="item item-body item-text-wrap">
            <img class="full-image" src="img/Barcode.gif">
            <h2>Your Item(s) will be ready at <span class="assertive">Cashier #2</span></h2>
            <p>
                *Instruction: ********* ************ ************ ************* **************** ***************
            </p>
        </div>
    </div>
    <div class="bar bar-footer bar-balanced" ui-sref="main.history">
        <div class="title">Done</div>
    </div>
</ion-view>