<ion-view title="History">
    <ion-content padding="true" class="has-header">
        <div class="list">
            <a class="item item-icon-left item-icon-right" href="#">
                <i class="icon ion-checkmark-round"></i> <span>Order # <span class="positive">123456</span></span>
                <span class="badge balanced">Waiting for pick up.</span>
            </a>
            <a class="item item-icon-left item-icon-right" href="#">
                <i class="icon ion-close-round"></i> <span>Order # <span class="positive">654321</span></span>
                <span class="badge assertive">Canceled</span>
            </a>
        </div>
    </ion-content>
</ion-view>