<ion-view title="Sports" hide-nav-bar="false" class="">
    <ion-content padding="false" class=" manual-remove-top-padding has-header">
        <div class="list card">
            <div class="item item-image">
                <img ng-src="{{mapSrc}}">
            </div>
            <ion-list>
                <ion-radio ng-model="mapSrc" ng-value="'img/map-2.png'" >Item A</ion-radio>
                <ion-radio ng-model="mapSrc" ng-value="'img/map3.png'">Item G</ion-radio>
                <ion-radio ng-model="mapSrc" ng-value="'img/map-1.png'">Item B</ion-radio>
                <ion-radio ng-model="mapSrc" ng-value="'img/map-1.png'">Item C</ion-radio>
                <ion-radio ng-model="mapSrc" ng-value="'img/map-1.png'">Item D</ion-radio>
                <ion-radio ng-model="mapSrc" ng-value="'img/map-1.png'">Item E</ion-radio>
                <ion-radio ng-model="mapSrc" ng-value="'img/map-1.png'">Item F</ion-radio>
                <ion-radio ng-model="mapSrc" ng-value="'img/map-1.png'">Item H</ion-radio>
                <ion-radio ng-model="mapSrc" ng-value="'img/map-1.png'"><span class="positive">All</span></ion-radio>
            </ion-list>
        </div>
    </ion-content>
</ion-view>