<ion-view title="Sports" hide-nav-bar="false" class=" ">
    <ion-content padding="false" class=" manual-remove-top-padding has-header">
        <div class="row category-grid">
            <div class="col-33">
                <i class="icon ion-ios-basketball"></i>
                <p>Basketball</p>
            </div>
            <div class="col-33"><i class="icon ion-ios-americanfootball"></i>
                <p>Football</p>
            </div>
            <div class="col-33"><i class="icon ion-ios-tennisball"></i>
                <p>Tennis</p>
            </div>
        </div>
        <div class="list">
            <a class="item item-button-right item-thumbnail-left" href="#">
                <img src="img/default.png">
                <h2>item one</h2>
                <p>item description</p>
                <h3>$10.99</h3>
                <span class="item-note">
                    <span class="badge badge-assertive"><i class="icon ion-android-pin"> </i> F52</span>
                </span>
            </a>
            <a class="item item-button-right item-thumbnail-left" href="#">
                <img src="img/default.png">
                <h2>item one</h2>
                <p>item description</p>
                <h3>$10.99</h3>
                <span class="item-note">
                    <span class="badge badge-assertive"><i class="icon ion-android-pin"> </i> F52</span>
                </span>
            </a>
            <a class="item item-button-right item-thumbnail-left" href="#">
                <img src="img/default.png">
                <h2>item one</h2>
                <p>item description</p>
                <h3>$10.99</h3>
                <span class="item-note">
                    <span class="badge badge-assertive"><i class="icon ion-android-pin"> </i> F52</span>
                </span>
            </a>
            <a class="item item-button-right item-thumbnail-left" href="#">
                <img src="img/default.png">
                <h2>item one</h2>
                <p>item description</p>
                <h3>$10.99</h3>
                <span class="item-note">
                    <span class="badge badge-assertive"><i class="icon ion-android-pin"> </i> F52</span>
                </span>
            </a>
            <a class="item item-button-right item-thumbnail-left" href="#">
                <img src="img/default.png">
                <h2>item one</h2>
                <p>item description</p>
                <h3>$10.99</h3>
                <span class="item-note">
                    <span class="badge badge-assertive"><i class="icon ion-android-pin"> </i> F52</span>
                </span>
            </a>
            <a class="item item-button-right item-thumbnail-left" href="#">
                <img src="img/default.png">
                <h2>item one</h2>
                <p>item description</p>
                <h3>$10.99</h3>
                <span class="item-note">
                    <span class="badge badge-assertive"><i class="icon ion-android-pin"> </i> F52</span>
                </span>
            </a>
            <a class="item item-button-right item-thumbnail-left" href="#">
                <img src="img/default.png">
                <h2>item one</h2>
                <p>item description</p>
                <h3>$10.99</h3>
                <span class="item-note">
                    <span class="badge badge-assertive"><i class="icon ion-android-pin"> </i> F52</span>
                </span>
            </a>
        </div>
    </ion-content>
</ion-view>